*{
    color: var(--text1);
    font-family: arial;
}

.dark{
    --text1: #FFFFFF;
    --text2: #FFFFFF;
    --bkg: #1D1B1B;
    --bkg2: #545353;
    --main: #1A858C;
    --secondary: #366586;
    --hover1: #1A858C;
    --hover2: #1A858C;
}

.light{
    --text1: #1D1B1B;
    --text2: #FFFFFF;
    --bkg: #FFFFFF;
    --bkg2: #D9D9D9;
    --main: #1A858C;
    --secondary: #366586;
    --hover1: #1A858C;
    --hover2: #1A858C;
}


html,body{
    background-color: var(--bkg);
}

body{
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    margin: 0px 0px 5px 0px;
    padding: 0px;
    height: 15vh;
    background-color: var(--main);
  }

main{
    padding-top: 15vh;
    width:100%;
    display:flex;
    justify-content: center;

}

.title{
    font-size: 7vh; 
    color: var(--main);
}

.sub{
    font-size: 4vh;
    }

.sub2{
    font-size: 3vh;
}


#main-image{
    width: 70vh;
    border-radius: 4px;
    padding: 5px;

}
#nav-divider{
    position:fixed;
    width: 100%;
}


#nav-bttn{
    display: flex;
    margin-left:100vh;
    margin-right:auto;
    position: relative;
}   


.flex-container{
    display:flex;
}


.left,.right {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    flex: 1;
    padding: 1rem;
    background-color: inherit;
  }

.txt-bttn:hover, .login-bttn:hover{
    color: var(--hover1);
}

.login-bttn:hover{
    background-color: var(--hover1);
    color: var(--text1);
}

.txt-bttn{
    
    border: none;
    background-color: inherit;
    padding: 10px 24px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.login-bttn{
    background-color: var(--bkg);
    border: none;
    padding: 5px 45px;
    margin: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    white-space: nowrap;

}

.line{
    background-color:black;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-left : 3px solid black;
    height: 50px;

  }

  .header-text{
    color: var(--text2);
    width: 4v;
  }

  .darkmode{
    background-color: var(--bkg);
  }